Package: ketchup
Version: 1.0.1+git20111228+e1c62066-1
Architecture: all
Maintainer: Johann Felix Soden <johfel@debian.org>
Installed-Size: 78
Depends: python:any, patch, bzip2, xz-utils
Section: devel
Priority: optional
Homepage: https://github.com/psomas/ketchup
Description: update utility for linux-kernel sources
 This utility can update (or install) kernel sources automatically.
 It can search for the newest kernel in numerous trees (vanilla, rc,
 tiny, mm, mjb, etc.).
 .
 It can also automatically download the needed patches (and apply
 them) to create the newest repository from an old one.
